/* 相対要素の指定 */
section {
    position:relative;
    background: #1e5799;
    height:5000px;
}
  
/* 表示・非表示する要素の指定 */
#aaa {
    position:fixed;
    width:200px;
    height:200px;
    top:0;
    background:#000;
    color:#FFF;
    text-align:center;
    display:none;
}
  
/* テストテキスト用の指定 */
#hoge {
    position:fixed;
    right:50%;
    font-size:36px;
}